<!DOCTYPE html>
<html lang=<%= lng %> dir=<%= dir %>>
  <head>
    <meta charset="utf-8">
    <title>My App</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <style id="jss-server-side">
      <%- serverCss %>
      {}
    </style>
  </head>
  <body>
    <div id="react-root"><%- serverBody %></div>
    <script src="/adminconsole/public/vendor.js"></script>
    <script src="/adminconsole/public/react.js"></script>
    <script src="/adminconsole/public/react-dom.js"></script>
    <script src="/adminconsole/public/material-ui.js"></script>
    <script>
      window.__APOLLO_STATE__=<%- initialState %>;
    </script>
    <script src="/adminconsole/public/main.js"></script>
  </body>
</html>
